.wrapper {
    padding: 1em;
    font-family: arial,sans-serif;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    top: -35px;
    padding: 0em 56em 0em 7em;
}

.navbar a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 7px 0em 0em -3em;
    padding; 0;
    width: 100%;
}

li {
    display: inline-block;
    padding: 4px 20px;
}

hr {
    margin: 7px -56em 0em -8em;
    opacity: 30%;
}

.resLink {
    margin: -15px 0px 0px 0px;
    color: rgb(1, 71, 1);
}

.resWrap {

}

h5 {
    font-size: 15px;
    color: grey
}

.resTitle a {
    text-decoration: none;
    color: blue;

}

.relatedbox {
    margin-top: 20px;
    border: solid rgb(194, 194, 194) 1px;
    padding: 15px;
}

.relatedbox h5 {
    margin-top: -5px;
}

h4 {
    font-size: 22px;
    font-weight: 100;
}


.relatedbox h4 {
    margin-top: -15px;
}

.relatedbox h5 a {
    text-decoration: none;
    float: right;
    color: grey;
    margin-top: -45px;
}

.itemlist {
    display: flex;
}

.relateditem {
    flex-grow: 1;
    justify-content: center;
}

.picBox {
    display: block;
    width: 5em;
    overflow: hidden;
}

.picBox img {
    display: block;
    margin: 0 5px;
}

.feedback h5 {
    float: right;
    margin-top: 5px;
    font-style: italic;
}